
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Producto</a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="/">Producto Corp</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

  <div class="row">
    <div class="feature col-xs-12">
      <h2 class="motto">Productise productively with <strong>Producto</strong>.</h2>
      <h3 class="subheader">Your responsive single-page product pitch.</h3>
      <img id="feature-screenshot" src="img/pics/feature.png" alt="screenshot" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 graded center">
      <p>You'll be amazed by Producto. Never has performant node.js NoSQL CoffeeScript LLVM compiling been so easy.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><strong>Features</strong> you'll really dig.</h2>
      <h3 class="subheader">We've covered all bases.</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <ul class="thumbnails">
          <!-- create as many of these as you like -->
          <li class="col-sm-3">
            <div class="thumbnail">
              <img src="img/pics/placeholder_260.png" class="img-responsive" width="260" height="180" alt="Don't forget alt text">
              <span>Simple user management</span>
            </div>
          </li>
          <!-- up to here (end of single item) -->
          <li class="col-sm-3">
            <div class="thumbnail">
              <img src="img/pics/placeholder_260.png" class="img-responsive" width="260" height="180" alt="">
              <span>Robust toolchain</span>
            </div>
          </li>
          <li class="col-sm-3">
            <div class="thumbnail">
              <img src="img/pics/placeholder_260.png" class="img-responsive" width="260" height="180" alt="">
              <span>iOS integration</span>
            </div>
          </li>
          <li class="col-sm-3">
            <div class="thumbnail">
              <img src="img/pics/placeholder_260.png" class="img-responsive" width="260" height="180" alt="">
              <span>Next-gen core</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box drop-shadow">
        <!-- feel free to create more 2x row left/right combos -->
        <div class="row">
          <div class="col-sm-4 col-sm-push-7">
            <img src="img/pics/placeholder_300.png" alt="placeholder" class="img-responsive image-right">
          </div>
          <article class="col-sm-6 col-sm-offset-1 col-sm-pull-4">
            <h3>HTML5 goodness, open fonts.</h3>
            <p>Kickstarter user engagement A/B testing shrink a market venture capital pitch deck. Social bookmarking group buying crowded market
              pivot onboarding freemium prototype ping pong.
              Early stage disruptive ecosystem community outreach dynamic location based strategic investor.
            </p>
          </article>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
            <img src="img/pics/placeholder_300.png" alt="placeholder" class="img-responsive">
          </div>
          <article class="col-sm-6">
            <h3>Fully responsive design.</h3>
            <p>Accelerator photo sharing business school drop out ramen hustle crush it revenue traction platforms.
              Coworking viral landing page user base minimum viable product hackathon API mashup FB Connect.</p>
          </article>
        </div>
        <!-- end two-row combo -->
        <div class="row">
          <div class="col-sm-4 col-sm-push-7">
            <img src="img/pics/placeholder_300.png" alt="placeholder" class="img-responsive image-right">
          </div>
          <article class="col-sm-6 col-sm-offset-1 col-sm-pull-4">
            <h3>Use this as a base.</h3>
            <p>Tablet publishing HTML5 mobile first really simple syndication meetups white board walls.
              User experience iterate algorithm gamification semantic web value add market research stealth.
              Rockstar developer internet of things bleeding edge browser extension social capital.
            </p>
          </article>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Optional <strong>pricing</strong> table.</h2>
    </div>
  </div>

  <div class="row pricing">

    <div class="col-sm-3">
      <div class="well">
        <h3>Basic</h3>
        <ul>
          <li>1 user</li>
          <li>1 project</li>
          <li>1GB storage</li>
        </ul>
        <h4>$24/month</h4>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="spot">Best<br>value!</div>
      <div class="well highlighted">
        <h3>Plus</h3>
        <ul>
          <li>5 users</li>
          <li>5 projects</li>
          <li>5GB storage</li>
        </ul>
        <h4>$36/month</h4>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="well">
        <h3>Pro</h3>
        <ul>
          <li>10 users</li>
          <li>20 projects</li>
          <li>15GB storage</li>
        </ul>
        <h4>$50/month</h4>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="well">
        <h3>Premium</h3>
        <ul>
          <li>Unlimited users</li>
          <li>Unlimited projects</li>
          <li>50GB storage</li>
        </ul>
        <h4>$80/month</h4>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 center graded">
      <a href="#" class="signup">Sign up now</a>
    </div>
  </div>
  <h2>Final pitch.</h2>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="row">
          <article class="col-sm-10 col-sm-offset-1">
            <p>Sandboxing UDID content management system ruby on rails continuous deployment big data infographic.
              Initial public offering financial model push notification mechanical turk bookmarklet.
              Term sheet convertible note colluding bootstrapping.
              Cloud computing subscription model out of the box proactive solution.  </p>
            <p>And if you're not satisfied, you can cancel for free at any time within your 30-day trial.</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="subheader">Keep in touch.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h4>About us</h4>
      <p>Producto Corp was founded in 2012 by Frank Upfield and Nathan Kent-Young to take advantage of the latest technologies in order to aid viral B2B synergy.</p>
      <p></p>

    </div>
    <div class="col-sm-4">

      <form class="form-inline">
        <h4>Sign up to the newsletter</h4>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input type="text" id="inputEmail" class="form-control" placeholder="Email address">
        </div>

        <button class="signup small">Sign up</button>
      </form>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="links">
        <li><a href="#"><img src="img/icons/twitter.png" alt="twitter"></a></li>
        <li><a href="#"><img src="img/icons/facebook.png" alt="fb"></a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>


